body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: black;
}

.image-icons {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin-left: 5rem;
}

.contact-information {
  text-align: center;
  display: flex;
}

/* form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
} */

.dark {
  color: #dcdcdc;
  background-color: #292929;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.account-text {
  text-align: center;
}

.icon-message {
  text-align: center;
  flex-direction: column;
}

.container {
  /* filter: drop-shadow(-12px 14px 3px #ccc); */
  text-align: center;
  width: 60%;
}

#email {
  filter: drop-shadow(-12px 14px 3px #ccc);
  text-align: center;
  width: 100%;
}

#name {
  filter: drop-shadow(-12px 14px 3px #ccc);
  text-align: center;
  width: 100%;
}

#message {
  filter: drop-shadow(-12px 14px 3px #ccc);
  text-align: center;
  width: 100%;
}

.nav-icon {
  opacity: 1;
  transform: translate(0px, 0px);
  padding: 2px;
  height: 54px;
}

.nav-icon-codewars {
  opacity: 1;
  transform: translate(0px, 0px);
  height: 37px;
  padding: 2px;
  height: 45px;
  margin-right: 6px;
  border-radius: 5px;
  background-color: rgb(168, 51, 42);
}

.react-loading-icon {
  display: flex;
  justify-content: center;
  margin-top: 22rem;
}
